[includeIf "gitdir:repositories/gitlab/"]
	path = ~/.gitconfig-gitlab

[includeIf "gitdir:repositories/github/"]
	path = ~/.gitconfig-github

[includeIf "gitdir:repositories/codeberg/"]
	path = ~/.gitconfig-codeberg

[includeIf "gitdir:repositories/gitea/"]
	path = ~/.gitconfig-gitea

[includeIf "gitdir:Documents/Obsidian/"]
	path = ~/.gitconfig-obsidian

[init]
	defaultBranch = main

[core]
	editor = micro
	symlinks = true
	autocrlf = false
	pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
	dsf = diff
	patch = !git --no-pager diff --no-color
	st = !git status
	a = !git add
	ai = !git add -i
	ae = !git add -e
	ap = !git add -p
	df = !git diff
	ps = !git push
	pl = !git pull

	b = !git branch
	ba = !git branch --all
	bc = !git branch --copy
	bm = !git branch --move
	bd = !git branch --delete
	bnc = !echo "<group>.<subject>.<$(uuidgen -r | cut -d '-' -f -1)|commit_tag>.[username]"

	f = !git fetch
	fa = !git fetch --all
	fp = !git fetch --prune
	fap = !git fetch --all --prune

	c = !git commit --signoff
	cm = !git commit --signoff -m

	chku = !git reset HEAD~1 --mixed
	chkc = !git commit --signoff -m 'checkpoint: $(uuidgen -r)'

	sw = !git switch
	swc = !git switch -c
	swo = !git switch --orphan

	lg = log '--pretty=format:"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]" --abbrev-commit -30'

	commit = commit --signoff

[interactive]
	diffFilter = diff-so-fancy --patch

[diff-so-fancy]
	markEmptyLines = false
	changeHunkIndicators = true
	stripLeadingSymbols = false
	useUnicodeRuler = false
	first-run = false

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[safe]
	directory = *

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
