[user]
	name = paodelonga
	email = 72471292+paodelonga@users.noreply.github.com
	signingkey = 0C3F9B4AADC8FAA6

[init]
	defaultBranch = main

[gpg]
	program = gpg

[commit]
	gpgsign = true

[core]
	editor = micro
	symlinks = true
	autocrlf = false

[alias]
	dsf = diff
	patch = !git --no-pager diff --no-color
	gst = !git status
	ga = !git add
	gai = !git add -i
	gae = !git add -e
	gap = !git add -p
	gdf = !git diff
	gdsf = !git dsf
	gps = !git push
	gpl = !git pull

	gb = !git branch
	gba = !git branch --all
	gbl = !git branch --list
	gbc = !git branch --copy
	gbm = !git branch --move
	gbd = !git branch --delete
	gbnmp = !echo "<group>.<subject>.<$(uuidgen -r | cut -d '-' -f -1)|commit_tag>.[username]"

	gf = !git fetch
	gfa = !git fetch --all
	gfp = !git fetch --prune
	gfap = !git fetch --all --prune

	gc = !git commit
	gcm = !git commit -m

	gchku = !git reset HEAD~1 --mixed
	gchkc = !git commit -m 'checkpoint: $(uuidgen -r)'

	gsw = !git switch
	gswc = !git switch -c
	gswo = !git switch --orphan


[pager]
	dsf = diff-so-fancy | less --tabs=4 -RFX

[interactive]
	diffFilter = diff-so-fancy --patch

[diff-so-fancy]
	markEmptyLines = false
	changeHunkIndicators = true
	stripLeadingSymbols = false
	useUnicodeRuler = false
	first-run = false

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[safe]
	directory = *

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
